<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588201336860-00esomsoarh3egtjo6addq771st80jqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588201336860-00esomsoarh3egtjo6addq771st80jqf</string>
	<key>API_KEY</key>
	<string>AIzaSyBXwKaJaYuJaWtR3gBmr_4OJp_Npb54EHw</string>
	<key>GCM_SENDER_ID</key>
	<string>588201336860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTrackerV2</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-v2-3ecf6</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-v2-3ecf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588201336860:ios:43f7e28803f0d4fc80ffd9</string>
</dict>
</plist>